<h1>Create</h1>
<a href='/Top'>Home</a>
<form action="" method="POST">
  <div>
    title:<input name="title" placeholder="title">
  </div>
  <div>
    text:
    <textarea name="text" rows="5" placeholder="text"></textarea>
  </div>
  <div>
    <input type="submit" value="save">
  </div>
</form>
