<h1>Create</h1>
<h2><%= @title %></h2>
<form action="" method="POST">
  <div>
    title:<input name="title" placeholder="title">
  </div>
  <div>
    text:
    <textarea name="text" rows="5" placeholder="text"></textarea>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
