<h1>Detail</h1>

<a href='/'>Home</a>

<h2>Title</h2>
<%= @title %>
<h2>Text</h2>
<%= @text %>

<form method="POST" action="<%= @id %>">
    <input type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete">
    <a href="/memoes/<%= @id %>/edit">Edit</a>
</form>
