<h1>Detail</h1>

<a href='/' input type="button" value="">ホームに戻る</a>

<h2>Title</h2>
<%= @title %>
<h2>Text</h2>
<%= @text %>
<h2>ID</h2>
<%= @id %>
</br>

<a href='/memoes/<%= @id %>/edit' input type="button" value="">変更</a>

<a href='/' input type="button" value="">削除</a>
