<h1>Detail</h1>

<a href='/' input type="button" value="">ホームに戻る</a>

<h2>Title</h2>
<%= @title %>
<h2>Text</h2>
<%= @text %>
</br>

<form method="POST" action="<%= @id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
    <a href="/memoes/<%= @id %>/edit" value="edit">Edit</a>
</form>
