<h1>Detail</h1>
<h2><%= @title %></h2>
<h2><%= @text %></h2>
<form action="confirm" method="GET">
  <input type="submit" value="保存">
</form>
<form action="delete" method="DELETE">
  <input type="submit" value="消去">
</form>
