<h1>Edit</h1>

<a href='/' type="button">Home</a>
<p>Title</p>

<form action="" method="POST">
  <input name="title" placeholder="title" value="<%= @title %>">
  <p>Text</p>
  <input name="text" placeholder="text" value="<%= @text %>" >
  </br>

  <input type="hidden" name="_method" value="patch">
  <input type= "submit" value="edit">
</form>
