<h1>Edit</h1>

<a href='/' input type="button" value="">ホームに戻る</a>
<p>Title</p>

<form action="" method="POST">
  <input name="title" placeholder="title" value="<%= @title %>">
  <p>Text</p>
  <input name="text" placeholder="text" value="<%= @text %>" >
  </br>

  <input type="hidden" name="_method" value="PATCH">
  <input type= "submit" value="変更">
</form>
