<h1>Edit</h1>
<a href='/top'>Home</a>
<form action="" method="POST">
  <div>
    title:<input name="title" placeholder="title" value="<%= @title %>">
  </div>
  <div>
    text:
    <textarea name="text" rows="5" placeholder="text"><%= @text %></textarea>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type= "submit" value="Done">
  </div>
</form>
