<h1>Sinatra Sample</h1>
<input type="button" onclick="location.href='/memoes'" value="Create Memo">
<p>
<% @memoes_data.each do |memo| %>
  <a href='/memoes/<%= memo['ID'] %>'> <%= memo['Title'] %></a></br>
<% end %>
</p>
